In [ ]:
Doc1 = "new home sales top forecasts"
Doc2 = "home sales rise in july"
Doc3 = "increase in home sales in july"
Doc4= "july new home sales rise"

Using Pandas
Importing the libraries

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

Adding the documents

In [ ]:
docs = [Doc1, Doc2, Doc3, Doc4]
print(docs)

['new home sales top forecasts', 'home sales rise in july', 'increase in home sales in july', 'july new home sales rise']

Defining and fitting the count vectorizer on the document.

In [ ]:
vec = CountVectorizer()
X = vec.fit_transform(docs)

Converting the vector on the DataFrame using pandas

In [ ]:
df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names())
df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   forecasts  home  in  increase  july  new  rise  sales  top
0          1     1   0         0     0    1     0      1    1
1          0     1   1         0     1    0     1      1    0
2          0     1   2         1     1    0     0      1    0
3          0     1   0         0     1    1     1      1    0

In [ ]:

with open('readme.txt', 'w') as f:
    for line in docs:
        f.write(line)
        f.write('\n')

In [ ]:
# this will open the file
file = open('readme.txt', encoding='utf8')
read = file.read()
file.seek(0)
read
  
# to obtain the
# number of lines
# in file
line = 1
for word in read:
    if word == '\n':
        line += 1
print("Number of lines in file is: ", line)
  
# create a list to
# store each line as
# an element of list
array = []
for i in range(line):
    array.append(file.readline())
  
array

Number of lines in file is:  5

['new home sales top forecasts\n',
 'home sales rise in july\n',
 'increase in home sales in july\n',
 'july new home sales rise\n',
 '']

In [ ]:
# this will open the file
file = open('readme.txt', encoding='utf8')
read = file.read()
file.seek(0)
read
  
# to obtain the
# number of lines
# in file
line = 1
for word in read:
    if word == '\n':
        line += 1
print("Number of lines in file is: ", line)
  
# create a list to
# store each line as
# an element of list
array = []
for i in range(line):
    array.append(file.readline())
  
array

Number of lines in file is:  5

['new home sales top forecasts\n',
 'home sales rise in july\n',
 'increase in home sales in july\n',
 'july new home sales rise\n',
 '']

In [ ]:
punc = '''!()-[]{};:'"\, <>./?@#$%^&*_~'''
for ele in read:  
    if ele in punc:  
        read = read.replace(ele, " ")  
          
read
  
# to maintain uniformity
read=read.lower()                    
read

'new home sales top forecasts\nhome sales rise in july\nincrease in home sales in july\njuly new home sales rise\n'

In [ ]:
from nltk.tokenize import word_tokenize
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
  
for i in range(1):
    # this will convert
    # the word into tokens
    text_tokens = word_tokenize(read)
  
tokens_without_sw = [
    word for word in text_tokens if not word in stopwords.words()]
  
print(tokens_without_sw)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['home', 'sales', 'top', 'forecasts', 'home', 'sales', 'rise', 'july', 'increase', 'home', 'sales', 'july', 'july', 'home', 'sales', 'rise']

In [ ]:
dict = {}
  
for i in range(line):
    check = array[i].lower()
    for item in tokens_without_sw:
  
        if item in check:
            if item not in dict:
                dict[item] = []
  
            if item in dict:
                dict[item].append(i+1)
  
dict

{'home': [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4],
 'sales': [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4],
 'top': [1],
 'forecasts': [1],
 'rise': [2, 2, 4, 4],
 'july': [2, 2, 2, 3, 3, 3, 4, 4, 4],
 'increase': [3]}